==
<!-- Navigation -->

<nav class="nav-wrp nav-4 dark">
	<div class="container">
		
		<div class="nav-header">
			<a class="navbar-brand" href="/"><img src="{{'assets/images/phoenix.png'|theme}}" alt="Brand logo" class=""></a>
			<a class="nav-handle fs-touch-element" data-nav=".nav"><i class="fa fa-bars"></i></a>	
		</div>
		
		<div class="nav vm-item">
			<ul class="nav-links">
				<li role="menuitem"><a href="/">Главная</a></li>
				<li class=""><a href="#s2" class=""></a></li>
				<li class=""><a href="#s3" class=""></a></li>
				<li class=""><a href="#" class=""></a></li>
				<li class=""><a href="#" class=""></a></li>
			</ul>
			<div class="nav-other">
				<!-- <span class=""><a href="mailto:test@test.com" class=""><i class="fa fa-envelope-o"></i> Вход</a></span> -->
			</div>
		</div><!-- /.nav --> 
		
	</div><!-- /.container --> 
</nav><!-- /.nav-wrp --><!-- Content -->